<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="OracleConnection" value="Data Source=live;User Id=mackays; Password=mackays" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ExchangeRateExePath" value="\\wblive\apps$\utils\HMRCExchangeRateUpdater\MCO.HMRCExchangeRateUpdate.Application.exe" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OutputFileLocation" value="\\ms35\logistic$\logistic\Guarentee Amounts\TransitGuarantee\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="OutputToFileLong" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OutputToFileShort" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OutputToCSV" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OutputToJSON" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ExcelOutputFileExtension" value="xlsx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SqlDirectory" value="./sql/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ExchangeRateRetryAttempts" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ExchangeRateTimeoutMS" value="60000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TransitGuaranteeValue" value="270000" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="VATRate1" value="0.20" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="VATRate2" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="VATRate3" value="0.20" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="VATRate4" value="0.20" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>