<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SqlDirectory" value="./sql/"/>
    <add key="OracleConnection" value="Data Source=test;User Id=mackays; Password=mackays" />

    <add key="OutputFileLocation" value="F:\dev\Scripts and Snippets\SH_TransitGuarantee\Output\"/>
    <add key="ExcelOutputFileExtension" value="xlsx"/>

    <add key="InlandDepotList" value="LIC"/>

    <add key="ConsTotalValueKey" value="ConsignmentTotalValue"/>
    <add key="ConsTotalVATKey" value="ConsignmentTotalVAT"/>
    <add key="ConsTotalDutyKey" value="ConsignmentTotalDuty"/>
    <add key="ConsTotalInTransitKey" value="ConsignmentTotalInTransit"/>

    <add key="TransitGuaranteeValue" value="270000"/>

    <add key="VATRate1" value="0.20"/>
    <add key="VATRate2" value="0.20"/>
    <add key="VATRate3" value="0.20"/>
    <add key="VATRate4" value="0.20"/>
  </appSettings>
</configuration>